@using UsuariosAPI.Models.ViewModels
@model RolViewModel

<div class="text-danger">
	@if (Context.Response.StatusCode >= 400)
	{
		@foreach (var kvp in (Dictionary<string, string[]>)ViewBag.errors)
		{
			@foreach (var value in kvp.Value)
			{
				<p>
					@Html.DisplayFor(m => value)
				</p>
			}
		}
	}
</div>

<form asp-action="Editar">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="mt-3">
		<label asp-for="Id" class="form-label"></label>
		<input asp-for="Id" class="form-control"></input>
		<span asp-validation-for="Id" class="text-danger"></span>
	</div>
	<div class="mt-3">
		<label asp-for="Nombre" class="form-label"></label>
		<input asp-for="Nombre" class="form-control"></input>
		<span asp-validation-for="Nombre" class="text-danger"></span>
	</div>
	<div class="mt-3">
		<input type="submit" value="Editar" class="btn btn-warning" />
	</div>
</form>